services:
  frontend:
    build:
      context: .
      dockerfile: packages/frontend/Dockerfile
    image: ${FRONTEND_IMAGE:?need FRONTEND_IMAGE}
    expose:
      - "80"
    restart: unless-stopped
    networks:
      web:
        aliases:
          - ${APP_NAME:?need APP_NAME}

networks:
  web:
    external: true