name: Deploy Mora Jai
run-name: Deploying ${{ github.sha }} to production

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    uses: ericgi231-me/shared-workflows/.github/workflows/deploy-webapp.yml@main
    with:
      app_name: "mora-jai"
      frontend_port: "3010"
      node_env: "production"
    secrets:
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      SERVER_HOST: ${{ secrets.SERVER_HOST }}
      SERVER_USER: ${{ secrets.SERVER_USER }}